.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: rgb(12, 12, 99);
  height: 80px;
  padding: 20px;
  color: white;
  position: fixed;
  margin: auto;
  width: 100%;
  top: 0px;
  -webkit-box-shadow: -4px 10px 5px rgba(5, 5, 5, 0.5);
  z-index: 100000;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
  padding-top: 140px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
